.root {
  text-align: center;
  background: #104FFF;
  border: 1px solid #104FFF;
  border-radius: 5px;
  padding: 8px 32px;
  color: #fff;
  font-size: 20px;
}

.root:hover {
  background: #fff;
  color: #104FFF;
  cursor: pointer;
}

.wrapper {
  display: flex;
  justify-content: center;
}
