.container {
  background-image: url('/static/img/galactic-flashbot.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: "CMU-Serif", "Times New Roman", Garamond, Georgia, serif;
}

.headingContainer {
  margin-top: 200px;
}

.mainHeading {
  text-align: center;
  font-size: 86px;
  font-weight: bold;
  color: #000;
  margin-left: -30px;
}

.subHeading {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #000;
  margin-left: -30px;
}

.explainContainer {
  margin: 100px auto 0 auto;
  width: 70%;
}

.explainHeading {
  font-size: 40px;
}

@media screen and (max-width: 960px) {
  .container {
    background-image: url('/static/img/galactic-mobile.png');
  }

  .mainHeading, .subHeading {
    margin-left: 0;
  }

  .subHeading {
    font-size: 28px;
  }
}
